<div class="admin-main fadeInUp animated">
	<div class="layui-field-box">
		<div>
			<blockquote class="layui-elem-quote">
			<div class="layui-btn-group">
				<button id="export" data-url="{:URL('data/export')}" data-title="立即备份" class="layui-btn">立即备份</button>
				<button data-url="{:URL('data/optimize')}" data-title="优化数据表" class="layui-btn databack">优化数据表</button>
				<button data-url="{:URL('data/repair')}" data-title="修复数据表" class="layui-btn databack">修复数据表</button>				
			</div>
			<a lay-href="{:URL('data/importlist')}" data-title="还原数据库" class="layui-btn layui-btn-danger fr">还原数据库</a>
			</blockquote>
			<form id="export-form" method="post" action="{:url('data/export')}">
				<table class="layui-table" lay-even="" lay-skin="row" lay-size="sm">

					<colgroup>
						<col width="50">
						<col width="150">
						<col width="150">
						<col width="150">
						<col width="200">
						<col width="200">
						<col width="100">
					</colgroup>
					<thead>
						<tr>
							<th width="48"><input lay-skin="primary" checked="chedked" type="checkbox" value=""></th>
							<th>表名</th>
							<th>数据量</th>
							<th>数据大小</th>
							<th>创建时间</th>
							<th>备份状态</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody>
						{volist name='list' id='table'}
						<tr>
							<td>
								<input class="ids" checked="chedked" type="checkbox" name="tables[]" value="{$table.name}">
							</td>
							<td>{$table.name}</td>
							<td>{$table.rows}</td>
							<td>{$table.data_length|unit}</td>
							<td>{$table.create_time}</td>
							<td class="info">备份未开始</td>
							<td>
								<a href="javascript:;" class="layui-btn layui-btn-xs optimiz" tables="{$table.name}">优化表</a>&nbsp;
								<a href="javascript:;" class="layui-btn layui-btn-xs repair" tables="{$table.name}">修复表</a>
							</td>
						</tr>
						{/volist}
					</tbody>

				</table>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
//备份表方法
$("#export").click(function() {
	$(this).html("正在发送备份请求...");
	$.post(
		$("#export-form").attr("action"),
		$("#export-form").serialize(),
		function(data) {
			if(data.code == 1) {
				$("#export").html("开始备份，请不要关闭本页面！");
				backup(data.data.tab);
				window.onbeforeunload = function() {
					return "正在备份数据库，请不要关闭！"
				}
			} else {
				layer.tips(data.msg, "#export", {
					tips: [1, '#3595CC'],
					time: 4000
				});
				$("#export").html("立即备份");
			}

		}, "json");
	return false;
});	

//递归备份表
function backup(tab, status) {
	status && showmsg(tab.id, "开始备份...(0%)");
	$.get($("#export-form").attr("action"), tab, function(data) {
		// console.log(data)
		if(data.code == 1) {
			showmsg(tab, data.msg);

			if(!$.isPlainObject(data.data.tab)) {
				$("#export").html("备份完成");
				window.onbeforeunload = function() {
					return null
				}
				return;
			}

			backup(data.data.tab, tab.id != data.data.tab.id);
		} else {
			$("#export").html("立即备份");
		}
	}, "json");

}
//修改备份状态
function showmsg(tab, msg) {
	$("table tbody tr").eq(tab.id).find(".info").html(msg)
}


</script>
