<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			<div class="layui-card">
				<div class="layui-card-header">
					<div class="layui-col-xs12">
						<div class="layui-form  pull-right">
							<div class="layui-form-item">
								<div class="layui-inline">
									<select id="table" name="table">
										<option value="">选择表</option>
										<option value="commodity">商品表</option>
										<option value="article">文章表</option>
									</select>
								</div>
								<div class="layui-inline"> <button class="layui-btn demoMore" lay-data="{ url:'/manage/upload/index', accept: 'file' }"><i class="layui-icon layui-icon-upload"></i>导入</button> </div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-card-body">
					<div class="layui-progress layui-progress-big" lay-filter="demo" lay-showpercent="true">
						<div class="layui-progress-bar layui-bg-green" lay-percent="80%"><span class="layui-progress-text">80%</span></div>
					</div>
					<div class="successmsg layui-hide">
						<h1 class="t-c mt-40"><i class="layui-icon layui-icon-ok-circle" style="font-size: 60px;color:green"></i></h1>
						<h1 class="t-c mt-30 mb-30" style="color:green">恭喜您，数据已经导入完成！</h1> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	layui.use(['upload', 'form'], function() {
		var $ = layui.jquery,
			element = layui.element,
			form = layui.form,
			upload = layui.upload,
			suc = "{$success}",
			page = "{$page|default='0'}",
			datatab = "{$table|default=''}",
			st = "{$status|default='0'}",
			percent = "{$percent|default='0'}";
		element.progress('demo', percent);
		form.render();
		if(suc == 'ok') {
			$('.layui-progress').hide();
			$('.successmsg').removeClass('layui-hide');
		}
		if(st == 1) {
			$('#lay-body').load('/manage/data/index/page/' + (Number(page) + 1) + "/table/" + datatab);
		} else if(st == 2) {
			$('#lay-body').load('/manage/data/index/status/ok');
		} else {
			$('.layui-progress-text').html('0%');
		}
		upload.render({
			elem: '.demoMore',
			before: function() {
				layer.load(0);
			},
			done: function(res, index, upload) {
				var item = this.item,
					tables = $('#table').val();
				layer.closeAll();
				if(tables) {
					$('#lay-body').load("/manage/data/index/page/1/table/" + tables, function(res, status) {
						if(status == 'success') {} else {
							$('#lay-body').html("<h2 class='t-c'>请上传正确的数据表！</h2>");
						}
					});
				} else {
					layer.msg('请选择表！', {
						icon: 2
					});
				}
			}
		});
	});
</script>