<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			<div class="layui-card">
				<!--<div class="layui-card-header">
					<div class="layui-col-xs12">
						<div class="layui-form  pull-right">
							<div class="layui-form-item">
								<div class="layui-inline">
									<select id="table" name="table">
										<option value="">选择表</option>
										<option value="gongzhi">商品表</option>
										<option value="article">文章表</option>
									</select>
								</div>
								<div class="layui-inline"> <button class="layui-btn demoMore" lay-data="{ url:'/manage/upload/index', accept: 'file' }"><i class="layui-icon layui-icon-upload"></i>导入</button> </div>
							</div>
						</div>
					</div>
				</div>-->
				<div class="layui-card-body layui-form ">
					<div class="layui-col-md6 layui-col-xs12">
 
						<blockquote class="layui-elem-quote layui-quote-nm">
							<h2>导入数据说明</h2>
							<p class="pt-10">1、必须保证表格数据的完整性、规范性。</p>
							<p class="pt-10">2、请将表格数据按以下操作后再上传</p>
							<p class="">(1):请将表格内容选中后执行==>复制==>选择性粘贴（选择数值）到新表中</p>
							<p class="">(2):将有日期的一列选中执行==>单元格格式==>选择文本，若日期显示正常请忽略以下操作。</p>
							<p class="">(3):填写正确的日期格式。</p>
							<p class="">(4):保存后上传。</p>
							
						</blockquote>						
					</div>
					<div class="layui-col-md6 layui-col-xs12">
							<div class="layui-form-item">
								<div class="layui-inline">
									<select id="table" name="table" lay-filter="change">
										<option value="">选择表</option>
										<option value="gongzhi">工资</option>
										<option value="shebao">社保</option>
									</select>
								</div>
								<div  id="upfile" class="layui-inline layui-hide"> <button class="layui-btn demoMore " lay-data="{ url:'/manage/upload/upfile', accept: 'file' }"><i class="layui-icon layui-icon-upload"></i>导入</button> </div>
							</div>
						
					</div>
				
				
				</div>
			</div>
		</div>
	</div>
	<div class="layui-clear" style="height: 100px;">&nbsp;</div>
</div>
<script type="text/javascript">
	layui.use(['upload', 'form'], function() {
		var $ = layui.jquery,
			element = layui.element,
			form = layui.form,
			upload = layui.upload;

		form.render();
		form.on('select(change)',function(e){
			if(e.value){
				$('#upfile').removeClass('layui-hide');
			}else{
				$('#upfile').addClass('layui-hide');
			}
		});
		upload.render({
			elem: '.demoMore',
			before: function() {
				layer.load(0);
			},
			done: function(res, index, upload) {
				var item = this.item,tables = $('#table').val();
				layer.closeAll();
				if(tables) {
					$('#adminbody').load("{:URL('data/index')}?table="+tables, function(res, status) {
						if(status == 'success') {} else {
							$('#lay-body').html("<h2 class='t-c'>请上传正确的数据表！</h2>");
						}
					});
				} else {
					layer.msg('请选择表！', {
						icon: 2
					});
				}
			}
		});
	});
</script>