
<div class="layui-row layui-col-space10">
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">create</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">1213213</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
		
	</div>
	<div class="layui-col-sm4 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">1213213</div>
			<div class="layui-card-body">
				2132132
			</div>
			
			
		</div>
		
		
	</div>
</div>

<div class="layui-clear" style="height: 130px;">&nbsp;</div>