<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>

		<script src="__JS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__LAYUI__/layui.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="layui-container">
			<div id="Smohan_FaceBox" class="layui-row">
				<div   class="layui-col-sm8">
					<div id="message" style="margin: 10px 0;padding: 10px; overflow-y:auto ;box-shadow: 0 2px 4px #ccc;display: block;height: 400px;">
						
					</div>
				</div>
				<div class="layui-col-sm4">
					<div id="userlist" style="margin: 10px 0;padding: 10px; overflow-y:auto ;box-shadow: 0 2px 4px #ccc;display: block;height: 400px;">
						
					</div>
					
				</div>
				<div class="layui-col-sm12">
					<form class="layui-form" action="" lay-filter="example">
					  <div class="layui-form-item layui-hide">
					      <input name="username" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" type="text" value="{$uid}">
					  </div>
					 
					  <div class="layui-form-item layui-form-text">
					      <textarea id="content" placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>					    
					  </div>
					  <div class="layui-form-item">
					  	<div class="layui-col-sm10">
					  		<div id="emoji" class="layui-icon layui-icon-face-smile-b c-999  f-30"></div>
					  	</div>
					  	<div class="layui-col-sm2 t-r">
					  		<button id="send" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
					  	</div>
					  	
					  </div>
					</form>						
					<center id="online_box"></center>
				</div>
				
			</div>
		</div>
	</body>

<script src="__JS__/jquery.emoji.js" type="text/javascript" charset="utf-8"></script>
<script src='https://cdn.bootcss.com/socket.io/2.0.3/socket.io.js'></script>
<script>
//表情格式替换
function replace_em(str){
	str = str.replace(/\</g,'&lt;');
	str = str.replace(/\>/g,'&gt;');
	str = str.replace(/\n/g,'<br/>');
	str = str.replace(/\[qq_([0-9]*)\]/g,"<img src='__IMAGES__/face/emoji1/$1.gif' style='max-width:200px;max-height:200px' />");
	str = str.replace(/\[em_([0-9]*)\]/g,"<img src='__IMAGES__/face/emoji2/$1.png'  style='max-width:200px;max-height:200px'/>");
	str = str.replace(/\[other_([0-9]*)\]/g,"<img src='__IMAGES__/face/emoji/$1.png' style='max-width:200px;max-height:200px'/>");
	return str;		
}
function timestampToTime(timestamp) {
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D+h+m+s;
    }	
	
var uid = "{$uid}";
// 连接服务端
var socket = io('http://c.com:2021');
// 触发服务端的chat message事件
socket.on('connect', function(){
	socket.emit('login', uid);
});	


// 服务端通过emit('chat message from server', $msg)触发客户端的chat message from server事件
socket.on('senmsg from server', function(msg){
	var olddata= document.getElementById('message').innerHTML;
	var arr=eval("("+msg+")");
	if(arr.username==uid){
		$html="<p style='text-align:right; color:#999;padding:5px'>"+timestampToTime(arr.time)+"&nbsp;&nbsp;&nbsp;&nbsp;"+arr.username+"</p><p style='text-align:right;color:#333;padding:5px'>"+arr.desc+"</p>";				
	}else{
		$html="<p style='color:#999;padding:5px'>"+arr.username+"&nbsp;&nbsp;&nbsp;&nbsp;"+timestampToTime(arr.time)+"</p><p style='color:#333;padding:5px'>"+arr.desc+"</p>";		
	}
	document.getElementById('message').innerHTML=olddata+$html;
	//滚动条定位在底部
	var div = document.getElementById('message'); 
	div.scrollTop = div.scrollHeight; 

});
 socket.on('user', function(list){
 	var userlist=eval("("+list+")");
 	var html='';
 	$.each(userlist,function(index,item){
 		html +="<p style='padding:5px'>"+index+"</p>";
 	});
        $('#userlist').html(html);
    });

//用户在线数量
 socket.on('online_box', function(online_stat){
        $('#online_box').html(online_stat);
    });
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  //监听提交

	$("#emoji").emoji({content_el:"#content",
		list:[
			{
				name:"QQ表情",
				code:"qq_",
				path:"__IMAGES__/face/emoji1/",
				suffix:".gif",
				max_number:132
			},
			{
				name:"emoji",
				code:"em_",
				path:"__IMAGES__/face/emoji2/",
				suffix:".png",
				max_number:65
				}
			,
				{
					name:"其他",
					code:"other_",
					path:"__IMAGES__/face/emoji/",
					suffix:".png",
					max_number:45
					}
			]
		});


  form.on('submit(demo1)', function(data){
	
	var arr=data.field, time={'time':Date.parse(new Date())/1000};
	var desc={'desc':replace_em(arr.desc)};
	var user={'username':arr.username};
	var temp =  $.extend(user, desc); 	
	 temp =  $.extend(temp, time);
	socket.emit('senmsg', temp);
	return false;
  });
 
  
  
});
</script>

</html>
