<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
	<script src="__JS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__LAYUI__/layui.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div class="layui-container">
		<div class="layui-row" style="margin-top: 100px;">
			<div class="layui-col-sm6">
				<form class="layui-form" action="{:URL('index/login')}" method="post" lay-filter="example">
					<div class="layui-form-item"> <label class="layui-form-label">输入框</label>
						<div class="layui-input-block"> <input name="username" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" type="text"> </div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block"> <button class="layui-btn" name="submit">立即提交</button> </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>


</html>