html,body{background: #F2F2F2;overflow: hidden;padding: 0;margin: 0;}
.t-l{text-align: left;}
.t-c{text-align: center;}
.t-r{text-align: right;}
.f-12{font-size:12px}.f-14{font-size:14px}.f-16{font-size:16px}.f-18{font-size:18px}.f-20{font-size:20px}.f-22 { font-size: 22px }.f-24{font-size:24px}.f-26{font-size:26px}.f-28{font-size:28px}.f-30{font-size:30px}
.mt-2{margin-top:2px}.mt-5{margin-top:5px}.mt-10{margin-top:10px}.mt-15{margin-top:15px}.mt-20{margin-top:20px}.mt-25{margin-top:25px}.mt-30{margin-top:30px}.mt-35{margin-top:35px}.mt-40{margin-top:40px}.mt-50{margin-top:50px}
.mb-5{margin-bottom:5px}.mb-10{margin-bottom:10px}.mb-15{margin-bottom:15px}.mb-20{margin-bottom:20px}.mb-30{margin-bottom:30px}.mb-40{margin-bottom:40px}.mb-50{margin-bottom:50px}
.ml-5{margin-left:5px}.ml-10{margin-left:10px}.ml-15{margin-left:15px}.ml-20{margin-left:20px}.ml-30{margin-left:30px}.ml-40{margin-left:40px}.ml-50{margin-left:50px}
.mr-5{margin-right:5px}.mr-10{margin-right:10px}.mr-15{margin-right:15px}.mr-20{margin-right:20px}.mr-30{margin-right:30px}.mr-40{margin-right:40px}.mr-50{margin-right:50px}
.md-5{margin: 5px;}.md-10{margin: 10px;}
.pt-5{padding-top:5px}.pt-10{padding-top:10px}.pt-15{padding-top:15px}.pt-20{padding-top:20px}.pt-25{padding-top:25px}.pt-30{padding-top:30px}
.pb-0{padding-bottom:0px}.pb-5{padding-bottom:5px}.pb-10{padding-bottom:10px}.pb-15{padding-bottom:15px}.pb-20{padding-bottom:20px}.pb-25{padding-bottom:25px}.pb-30{padding-bottom:30px}
.pl-5{padding-left:5px}.pl-10{padding-left:10px}.pl-15{padding-left:15px}.pl-20{padding-left:20px}.pl-25{padding-left:25px}.pl-30{padding-left:30px}
.pr-5{padding-right:5px}.pr-10{padding-right:10px}.pr-15{padding-right:15px}.pr-20{padding-right:20px}.pr-25{padding-right:25px}.pr-30{padding-right:30px}
.pd-0{padding:0px}.pd-5{padding:5px}.pd-10{padding:10px}.pd-15{padding:15px}.pd-20{padding:20px}.pd-25{padding:25px}.pd-30{padding:30px}.pd-40{padding:40px}

.bd-b{border-bottom: 1px solid #E8E8E8;}

.c-666,.c-666 a,a.c-666{color:#666}
.c-666 a:hover,a.c-666:hover{ color:#666}
.c-999,.c-999 a,a.c-999{color:#999}
.c-999 a:hover,a.c-999:hover{color:#999}

.boxshadow{box-shadow: 0 1px 2px #E8E8E8;background: #FFF;}
.disnone{display: none;}

.pull-left{float: left;}
.pull-right{float: right;}
.lay-main{width: 100%;height: 100%;padding: 0;margin: 0;}
.lay-left{display:inline-block; width: 200px;height: 100% !important;position: fixed;left: 0;top: 0;background: #3A3D49;color: #FFF;}
.lay-left .laylogo{line-height: 50px;background: #009F95;text-align: center;}
.lay-left a{cursor: pointer;}
.lay-right{display:inline-block;width: calc(100% - 200px);height:100%;position: fixed;right: 0;top: 0;overflow-y: hidden;padding: 0;}
.lay-header{position: fixed; background: #FFFFFF;width: 100%;height: 50px;line-height: 50px;box-shadow: 0 1px 2px #E8E8E8;z-index: 99999;}
.lay-header ul{width: auto;padding-left:20px ;}
.lay-header ul li{width: auto;float: left;line-height: 50px;padding: 0 15px;}
.lay-header ul li:hover{background: #F2F2F2;}
#lay-body{display: block;width: 100%; margin:50px 0 15px 0;padding: 15px 0; position: relative;z-index: 1;overflow-x: hidden;height: calc(100% - 60px) !important;}
.lay-body{display: block;width:100%;height: auto;background: #FFFFFF;box-shadow: 0 1px 2px #E8E8E8;}
.lay-breadcrumb{position: relative; display: block;clear: both; height: 48px;background: #FFF;line-height: 48px;box-shadow: 0 2px 4px #E8E8E8;padding-left: 20px;top:50px}
.lay-breadcrumb a,.lay-breadcrumb span{padding: 0 5px;color: #999;}


#layadmin-carousel .layui-carousel-ind{position: absolute;right: 10px;float: right;text-align: right;top: -40px;background: none;}
#layadmin-carousel .layui-carousel-ind ul{background: none;}
#layadmin-carousel .layui-carousel-ind ul li{background: #E2E2E2;}
#layadmin-carousel .layui-carousel-ind ul li.layui-this{background: #999;}
#fastico ul{text-align: center;}
#fastico ul li{padding: 10px 0;}
#fastico i{font-size:30px ;display: block;padding: 20px 0;}
#fastico i:hover{background: #E8E8E8;}

.layui-layer-adminRight{display: none;position: absolute;z-index: 999999; float: right;right:0px; top:50px!important;bottom:0;border-radius:0;overflow:auto;background: #FFF; box-shadow: 0 2px 4px #ccc; width: 260px;height: calc(100% - 50px) !important;}

.layui-layer-diy .layui-layer-title{background:#3A3D49;color:#FFFFFF;padding: 5px 0 5px 20px;}
.layui-layer-diy .layui-layer-ico{background: url(./images/icon.png);}
.layui-layer-diy .layui-layer-setwin .layui-layer-close1{background-position: 0px -40px;}
.layui-table-page{text-align: center;}


.uploadbg{height: 100px;max-width: 400px;min-width:100px;overflow: hidden;display: inline-block;float: left;background: url(./images/upload.png) center center no-repeat;vertical-align: middle;line-height: 100px;margin-right: 30px;}


.gridly {
	position: relative;
	margin-left: 10px;
}

.gridly .brick {
	opacity: 1;
	cursor: pointer;
	position: relative;
}

.gridly .brick .delete {
	display: block;
	color: #FFF;
	background: #FD482C;
	width: 40px;
	height: 40px;
	top: 0;
	right: 0;
	position: absolute;
	text-align: center;
	line-height: 40px;
}

.gridly .brick.small {
	float: left;
	width: 100px;
	height: 100px;
}

.gridly .brick.large {
	float: left;
	width: 100px;
	height: 100px;
}

.gridly .brick.dragging {
	opacity: 0.8;
}

#singlepage p{padding-bottom:10px;}
#singlepage .imgbox{width: 100%;height: 180px; overflow: hidden;margin-bottom: 10px;}
#singlepage .imgbox img{width: 100%;height: auto;}
#singlepage .title{cursor: pointer;}
