body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	vertical-align: middle;
	background: #F4F4F4 url(images/loginbg.jpg) top left no-repeat;
}

.loginbox {
	position: relative;
	width: 440px;
	height: auto !important;
	box-shadow: 0px 2px 1px #E8E8E8;
	background: #FFF;
	margin: 10% auto 0 auto;
	vertical-align: middle;
	border: 0px solid #E8E8E8;
}



 .code {
	position: absolute;
	float: right;
	width: 182px;
	height: 49px;
	right: 1px;
	top:7px;
	border-left: 1px solid #ccc;
}

.loginbox button {

	height: 60px;
	letter-spacing: 20px;
	font-size: 30px;

}

.loginbox .padd{padding: 30px 20px 10px 20px;}
.tou {
	background: url("images/tou.png") no-repeat;
	width: 97px;
	height: 92px;
	position: absolute;
	top: -87px;
	left: 140px;
}

.left_hand {
	background: url("images/left_hand.png") no-repeat;
	width: 32px;
	height: 37px;
	position: absolute;
	top: -38px;
	left: 150px;
}

.right_hand {
	background: url("images/right_hand.png") no-repeat;
	width: 32px;
	height: 37px;
	position: absolute;
	top: -38px;
	right: 192px;
}

.initial_left_hand {
	background: url("images/hand.png") no-repeat;
	width: 30px;
	height: 20px;
	position: absolute;
	top: -12px;
	left: 100px;
}

.initial_right_hand {
	background: url("images/hand.png") no-repeat;
	width: 30px;
	height: 20px;
	position: absolute;
	top: -12px;
	right: 160px;
}

.left_handing {
	background: url("images/left-handing.png") no-repeat;
	width: 30px;
	height: 20px;
	position: absolute;
	top: -24px;
	left: 139px;
}

.right_handinging {
	background: url("images/right_handing.png") no-repeat;
	width: 30px;
	height: 20px;
	position: absolute;
	top: -21px;
	left: 210px;
}
.footer{text-align: center;margin-top:10px;color:#C2C2C2;text-shadow: 0px 1px 0px #e5e5ee;font-size: 14px;}




#diy_input .layui-form-item {
	position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

#diy_input .layui-i {
  transition: 0.3s;
  margin-bottom: 5px;
}

#diy_input .layui-i:before {
  content: attr(data-icon);
  font-weight: normal;
  font-family: "layui-icon";
  font-size: 24px;
  position: absolute;
  left: 0;
  transform: rotateY(90deg);
  bottom: 0;
  height: 52px;
  background: transparent;
  color: #666;
  transform-origin: left;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .3s 0s ease, transform .3s 0s ease;
  width: 42px;
}
#diy_input i{ font-style:normal}
#diy_input .layui-input {
  border: 1px solid #ddd;
  padding: 0 10px;
  width: 100%;
  height: 52px;
  transition: 0.3s;
  font-weight: normal;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  outline: none;
}

#diy_input .layui-input:focus {
  padding-left: 42px;
  border-color: #bbb;
}

#diy_input .layui-input:focus + i:before {
  transform: rotateY(0deg);
}

#diy_input .layui-input:valid {
  padding-left: 42px;
  border-color: green;
}

#diy_input .layui-input:valid + i {
  color: green;
}

#diy_input .layui-input:valid + i:before {
  transform: rotateY(0deg);
  color: green;
  font-size: 22px;
  content: attr(data-icon-ok);
}
