<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>该页面不存在</title> 
	<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
</head>
<body style="background: #F2F2F2;">
<div class="layui-container " style="text-align: center;box-shadow: 2px 4px 4px #FFF;background: #FFF; padding: 40px;margin-top: 60px;">
	<h2 style="padding: 20px 0;"><img src="__PUBLIC__/uploads/notfound.gif"/>	</h2>
	<h1 style="padding: 20px 0;">啊~哦~ 您要查看的页面不存在或已删除！</h1>
	<p style="padding: 20px 0;">请检查您输入的网址是否正确<br><br>或者点击链接继续浏览</p>
	<div class="layui-clear">
		<a href="__ROOT__" class="layui-btn layui-btn-primary">返回首页</a>
	</div>
</div>
</body>
</html>