{layout name="layout" /}

<!--slidee start-->
<section id="slide">
	<div class="layui-carousel" id="test10">
		<div carousel-item=""> {PE:_list table="hook" where="[['kinds','eq',1],['status','eq',1]]" id="v" limit="6" empty="没有数据"}
			<div><img src="__ROOT__{$v.thumb}" height="100%"></div> {/PE:_list} </div>
	</div>
</section>
<div class="layui-clear pd-20"></div>
<!--slidee end-->
<!--content start-->
<section id="content" class="mt-30 mb-50">
	<div class="container">
		<h1 class="t-c f-30 mb-20 animated fadeInUp"><b>我们积累了各行业丰富的案例和经验</b></h1>
		<p class="t-c f-18 c-666 mb-50 animated fadeInUp">网页设计 / 软件界面 / 平面广告 / 移动APP / </p>
		<div class="layui-row layui-col-space30">
			<div class="layui-col-md4">
				<div class="hover-boxshadow"><img src="__PUBLIC__/uploads/20180831/a526b4bc7c43706f073343329767201a.png" /></div>
			</div>
			<div class="layui-col-md4">
				<div class="hover-boxshadow"><img src="__PUBLIC__/uploads/20180831/a526b4bc7c43706f073343329767201a.png" /></div>
			</div>
			<div class="layui-col-md4">
				<div class="hover-boxshadow"><img src="__PUBLIC__/uploads/20180831/a526b4bc7c43706f073343329767201a.png" /></div>
			</div>
			<div class="layui-col-md4">
				<div class="hover-boxshadow"><img src="__PUBLIC__/uploads/20180831/a526b4bc7c43706f073343329767201a.png" /></div>
			</div>
			<div class="layui-col-md4">
				<div class="hover-boxshadow"><img src="__PUBLIC__/uploads/20180831/a526b4bc7c43706f073343329767201a.png" /></div>
			</div>
			<div class="layui-col-md4">
				<div class="hover-boxshadow"><img src="__PUBLIC__/uploads/20180831/a526b4bc7c43706f073343329767201a.png" /></div>
			</div>
		</div>
	</div>
</section>
<div class="layui-clear pd-20"></div>
<!--content end-->
<!--server start-->
<section id="server">
	<div class="container">
		<ul class="box">
			<li class="item"> 
				<u class="contents">
					<div class="bd2 rotateloop"><i class="layui-icon layui-icon-website"></i></div>
					<h2 class="mt-40 mb-40">高端网站设计与制作</h2>
					<h4>我是说明呼,不要乱搞546546水电费</h4>
				</u>
				<p class="bg1"></p>
			</li>
			<li class="item"> <u class="contents">
				<div class="bd2 rotateloop"><i class="layui-icon layui-icon-cellphone"></i></div>
					<h2 class="mt-40 mb-40">三合一网站</h2>
					<h4>我是说明呼,不要乱搞546546水电费不要乱搞546546水电费不要乱搞546546水电费不要乱搞546546水电费</h4>
			</u>
				<p class="bg2"></p>
			</li>
			<li class="item"><u class="contents">
				
				<div class="bd2 rotateloop"><i class="layui-icon layui-icon-senior"></i></div>
					<h2 class="mt-40 mb-40">小程序开发</h2>
					<h4>我是说明呼,不要乱搞546546水电费</h4>
			</u>
			<p class="bg3"></p> 	
			</li> 
			<li class="item">
				<u class="contents">
					<div class="bd2 rotateloop"><i class="layui-icon layui-icon-chart-screen"></i></div>
					<h2 class="mt-40 mb-40">服务器运维</h2>
					<h4>我是说明呼,不要乱搞546546水电费</h4>
				</u>
				
				<p class="bg4"></p>
			</li>
		</ul>
	</div>
</section>
<!--server end-->
<!--about start-->
<!--<section id="about" class="layui-clear mt-40">
	<div class="about pd-40">
		<div class="container"> </div>
	</div>
</section>-->
<!--about end-->
<!--news start-->
<section id="news" class="layui-clear mt-50 mb-50 pd-5">
	<h1 class="t-c f-30 mb-20"><b>最新资讯</b></h1>
	<p class="t-c f-18 c-666 mb-50">News Information </p>
	<div class="layui-row "> {PE:_list table="article" where="[['cateid','in',[6,9,10]],['status','eq',1]]" id="v" limit="4" empty="没有数据"}
		<div id="divmover" class="layui-col-md3"> {if ($k+1)%2==0}
			<div class="overflow"><img class="imgscale" src="__ROOT__{$v.thumb}" height="280px" /></div>
			<div class="pd-30 toleft" style="height: 220px;">
				<h2 class="mb-20">{:toDate('1',$v.uptime,'Y-m-d')}</h2>
				<h1 class="mb-20">{$v.title}！</h1>
				<p>{$v.desc}</p>
			</div> {else /}
			<div class="pd-30 toleft" style="height: 220px;">
				<h2 class="mb-20">{:toDate('1',$v.uptime,'Y-m-d')}</h2>
				<h1 class="mb-20">{$v.title}！</h1>
				<p>{$v.desc}</p>
			</div>
			<div class="overflow"><img class="imgscale" src="__ROOT__{$v.thumb}" height="280px" /></div> {/if} </div> {/PE:_list} </div>
</section>
<!--news end-->