{layout name="layout" /}
<section>
<div class="mt-20 mb-30 container">
	<span class=" c-666"><i class="layui-icon layui-icon-location pr-5"></i>您现在的位置： </span><span class="layui-breadcrumb">
	<a href="{:URL('home/index/index')}"><cite>首页</cite></a>
	{if $navinfo<>''}
	<a href="{:url('home/'.$navinfo['url'].'/index',['catId'=>$navinfo['id']] )}"><cite>{$navinfo.name}</cite></a>
	{/if}
	<a <cite>{$info.title}</cite></a>
	
	</span>
</div>
<div class="container bg-white">
	<h1 class="pt-20 pb-20">{$info.title}</h1>
	<p class="pull-right pb-20">
		<span><i class="layui-icon layui-icon-praise pr-5"></i>115</span><span class="pl-10"><i class="layui-icon layui-icon-log pr-5"></i>{:toDate(1,$info.uptime)}</span>
	</p>
	<div class=" layui-clear">
	</div>
</div>
<div class="container bg-white mt-20 mb-20">
	<div class="layui-card pd-15">
		<div class=" content">
				{$info.content|raw}
		</div>
		<div class="layui-footer">
			{PE:_getval table='article' where="[['cateid','eq',$catId],['id','lt',$id]]" order="id DESC" name="upart" /}
			<p class="mb-10"><span class="layui-btn layui-btn-primary">上一篇</span>{if $upart<>null}<a href="{:url('home/'.$navinfo['url'].'/show',['catId'=>$upart['cateid'],'id'=>$upart['id']])}" class="pl-15">{$upart.title}</a>{else /} <span class="pl-15">没有了</span>{/if}</p>
			{PE:_getval table='article' where="[['cateid','eq',$catId],['id','gt',$id]]" order="id ASC" name="updown" /}
			<p class="mb-10"><span class="layui-btn layui-btn-primary">下一篇</span>{if $updown<>null}<a href="{:url('home/'.$navinfo['url'].'/show',['catId'=>$updown['cateid'],'id'=>$updown['id']])}" class="pl-15">{$updown.title}</a>{else /} <span class="pl-15">没有了</span>{/if}</p>

		</div>
	</div>
</div>
</section>