{load href="__JS__/jquery.min.js"} {load href="__LAYUI__/layui.js"}{load href="__JS__/mmenu.js"}
<script>
	window.onscroll = function() {
		//变量t是滚动条滚动时，距离顶部的距离
		var t = document.documentElement.scrollTop || document.body.scrollTop;
		var scrollup = document.getElementById('headnav');
		//当滚动到距离顶部200px时，返回顶部的锚点显示
		if(t >= 90) {
			scrollup.style.position = "fixed";
		} else { //恢复正常
			scrollup.style.position = "relative";
		}
	}
	layui.use(['carousel','element'], function() {
		var element = layui.element,carousel=layui.carousel; //导航的hover效果、二级菜单等功能，需要依赖element模块
		//监听导航点击
		element.on('nav(demo)', function(elem) {
			//console.log(elem)
			layer.msg(elem.text());
		});
  //图片轮播
	  carousel.render({
	    elem: '#test10'
	    ,width: '100%'
	    ,height: '572px'
	    ,interval: 5000
	  });		
		
	});
</script>