{layout name="layout" /}
	<section id="list" >
		<div class="container bg-white pt-20">
			<div class="layui-card pd-15">
				<div class="layui-row layui-col-space30">
					<div class="layui-col-md8">
						<ul class="new_box">
							<li class="new_li layui-clear">
								<div class="new_img">
									<a href=""><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
								</div>
								<div class="new_text">
									<h3><a href="" class="title">是时候改变你对微服务的认知了是时候改变你对微服务的认知了！</a></h3>
									<p><span>2018-08-23</span><span>admin</span><span>115</span></p>
									<p class="desc layui-hide-xs">大部分时候，微服务都是建立在一种基于请求和响应的协议之上。比如，REST等。这种方式是自然的。我们只需要调用另外一个模块就是了，然后等待响应返回，然后继续。这样的方式确...</p>
									<a class="click-box" href=""><span>READ MORE</span></a>
								</div>
							</li>
							<li class="new_li layui-clear">
								<div class="new_img">
									<a href=""><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
								</div>
								<div class="new_text">
									<h3><a href="" class="title">是时候改变你对微服务的认知了是时候改变你对微服务的认知了！</a></h3>
									<p><span>2018-08-23</span><span>admin</span><span>115</span></p>
									<p class="desc  layui-hide-xs">大部分时候，微服务都是建立在一种基于请求和响应的协议之上。比如，REST等。这种方式是自然的。我们只需要调用另外一个模块就是了，然后等待响应返回，然后继续。这样的方式确...</p>
									<a class="click-box" href=""><span>READ MORE</span></a>
								</div>
							</li>
							<li class="new_li layui-clear">
								<div class="new_img">
									<a href=""><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
								</div>
								<div class="new_text">
									<h3><a href="" class="title">是时候改变你对微服务的认知了！</a></h3>
									<p><span>2018-08-23</span><span>admin</span><span>115</span></p>
									<p class="desc  layui-hide-xs">大部分时候，微服务都是建立在一种基于请求和响应的协议之上。比如，REST等。这种方式是自然的。我们只需要调用另外一个模块就是了，然后等待响应返回，然后继续。这样的方式确...</p>
									<a class="click-box" href=""><span>READ MORE</span></a>
								</div>
							</li>
							<li class="new_li layui-clear">
								<div class="new_img">
									<a href=""><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
								</div>
								<div class="new_text">
									<h3><a href="" class="title">是时候改变你对微服务的认知了！</a></h3>
									<p><span>2018-08-23</span><span>admin</span><span>115</span></p>
									<p class="desc  layui-hide-xs">大部分时候，微服务都是建立在一种基于请求和响应的协议之上。比如，REST等。这种方式是自然的。我们只需要调用另外一个模块就是了，然后等待响应返回，然后继续。这样的方式确...</p>
									<a class="click-box" href=""><span>READ MORE</span></a>
								</div>
							</li>
							<li class="new_li layui-clear">
								<div class="new_img">
									<a href=""><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
								</div>
								<div class="new_text">
									<h3><a href="" class="title">是时候改变你对微服务的认知了！</a></h3>
									<p><span>2018-08-23</span><span>admin</span><span>115</span></p>
									<p class="desc  layui-hide-xs">大部分时候，微服务都是建立在一种基于请求和响应的协议之上。比如，REST等。这种方式是自然的。我们只需要调用另外一个模块就是了，然后等待响应返回，然后继续。这样的方式确...</p>
									<a class="click-box" href=""><span>READ MORE</span></a>
								</div>
							</li>
							<li class="new_li layui-clear">
								<div class="new_img">
									<a href=""><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
								</div>
								<div class="new_text">
									<h3><a href="" class="title">是时候改变你对微服务的认知了！</a></h3>
									<p><span>2018-08-23</span><span>admin</span><span>115</span></p>
									<p class="desc  layui-hide-xs">大部分时候，微服务都是建立在一种基于请求和响应的协议之上。比如，REST等。这种方式是自然的。我们只需要调用另外一个模块就是了，然后等待响应返回，然后继续。这样的方式确...</p>
									<a class="click-box" href=""><span>READ MORE</span></a>
								</div>
							</li>
							<li class="new_li layui-clear">
								<div class="new_img">
									<a href=""><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
								</div>
								<div class="new_text">
									<h3><a href="" class="title">是时候改变你对微服务的认知了！</a></h3>
									<p><span>2018-08-23</span><span>admin</span><span>115</span></p>
									<p class="desc  layui-hide-xs">大部分时候，微服务都是建立在一种基于请求和响应的协议之上。比如，REST等。这种方式是自然的。我们只需要调用另外一个模块就是了，然后等待响应返回，然后继续。这样的方式确...</p>
									<a class="click-box" href=""><span>READ MORE</span></a>
								</div>
							</li>
						</ul>
					</div>
					<div class="layui-col-md4">
						<div class="layui-card">
							<div class="hotnew">
								<h3><span>为您推荐</span></h3> </div>
							<div class="layui-card-body pl-0">
								<ul class="newrightbox">
									<li class="layui-clear">
										<a href="" class="liimg"><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
										<div class="litext">
											<h3><a href="" class="title">是时候改变你对微服务的认知了是时候改变你对微服务的认知了?</a></h3>
											<p class="layui-clear mt-10"> <span class="pr-5 f-14"><span class="layui-badge-dot  layui-bg-orange mr-10"></span>2018-08-24</span>
											</p>
										</div>
									</li>
									<li class="layui-clear">
										<a href="" class="liimg"><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
										<div class="litext">
											<h3><a href="" class="title">是时候改变你对微服务的认知了是时候改变你对微服务的认知了?</a></h3>
											<p class="layui-clear mt-10"> <span class="pr-5 f-14"><span class="layui-badge-dot  layui-bg-orange mr-10"></span>2018-08-24</span>
											</p>
										</div>
									</li>
									<li class="layui-clear">
										<a href="" class="liimg"><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
										<div class="litext">
											<h3><a href="" class="title">是时候改变你对微服务的认知了是时候改变你对微服务的认知了?</a></h3>
											<p class="layui-clear mt-10"> <span class="pr-5 f-14"><span class="layui-badge-dot  layui-bg-orange mr-10"></span>2018-08-24</span>
											</p>
										</div>
									</li>
									<li class="layui-clear">
										<a href="" class="liimg"><img src="http://qh216.xiuzhanwang.com/uploads/allimg/180413/1-1P4131502390-L.jpg" /></a>
										<div class="litext">
											<h3><a href="" class="title">是时候改变你对微服务的认知了是时候改变你对微服务的认知了?</a></h3>
											<p class="layui-clear mt-10"> <span class="pr-5 f-14"><span class="layui-badge-dot  layui-bg-orange mr-10"></span>2018-08-24</span>
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
