{layout name="layout" /}
<section id="list">
	<div class="container bg-white pt-20">
		<div class="layui-card pd-15">
			<div class="layui-row">
				<div class="layui-col-md12">
					<ul class="tuwendate">
						<li>
							<a href="" class="img"> <img src="http://zhuti.img.tpt360.com/qiye000/16.png" /></a>
								<div class="textbox">
									<h3><a href="">国产手机质量那么好，为什么那么多人都追着iPhone呢？ </a></h3>
									<p>近年来，国产手机无论是在外观上还是在设计上相比前几年都有明显的进步，手机的品质也在不断的提升。各个国产厂商纷纷拿出了自家的黑科技，比如说小米的概念机小米mix，华为自家研发的处理器。</p>
								</div>
								<div class="date">
									<div class="time">
										<h2>07-23</h2>
										<p>2018</p>										
									</div>
									<a href=""><i class="layui-icon layui-icon-right"></i></a>
								</div>							
						</li>
						<li>
							<a href="" class="img"> <img src="http://zhuti.img.tpt360.com/qiye000/16.png" /></a>
								<div class="textbox">
									<h3><a href="">国产手机质量那么好，为什么那么多人都追着iPhone呢？ </a></h3>
									<p>近年来，国产手机无论是在外观上还是在设计上相比前几年都有明显的进步，手机的品质也在不断的提升。各个国产厂商纷纷拿出了自家的黑科技，比如说小米的概念机小米mix，华为自家研发的处理器。</p>
								</div>
								<div class="date">
									<div class="time">
										<h2>07-23</h2>
										<p>2018</p>										
									</div>
									<a href=""><i class="layui-icon layui-icon-right"></i></a>
								</div>							
						</li>
						<li>
							<a href="" class="img"> <img src="http://zhuti.img.tpt360.com/qiye000/16.png" /></a>
								<div class="textbox">
									<h3><a href="">国产手机质量那么好，为什么那么多人都追着iPhone呢？ </a></h3>
									<p>近年来，国产手机无论是在外观上还是在设计上相比前几年都有明显的进步，手机的品质也在不断的提升。各个国产厂商纷纷拿出了自家的黑科技，比如说小米的概念机小米mix，华为自家研发的处理器。</p>
								</div>
								<div class="date">
									<div class="time">
										<h2>07-23</h2>
										<p>2018</p>										
									</div>
									<a href=""><i class="layui-icon layui-icon-right"></i></a>
								</div>							
						</li>
												<li>
							<a href="" class="img"> <img src="http://zhuti.img.tpt360.com/qiye000/16.png" /></a>
								<div class="textbox">
									<h3><a href="">国产手机质量那么好，为什么那么多人都追着iPhone呢？ </a></h3>
									<p>近年来，国产手机无论是在外观上还是在设计上相比前几年都有明显的进步，手机的品质也在不断的提升。各个国产厂商纷纷拿出了自家的黑科技，比如说小米的概念机小米mix，华为自家研发的处理器。</p>
								</div>
								<div class="date">
									<div class="time">
										<h2>07-23</h2>
										<p>2018</p>										
									</div>
									<a href=""><i class="layui-icon layui-icon-right"></i></a>
								</div>							
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>