<div class="layui-fluid">
	<div id="layui-row">
		<div class="layui-col-xs12">
			<div class="layui-card">
				<div id="demoTable" class="layui-card-header pt-10"> 
					<button  class="layui-btn layui-btn-danger" data-type="getCheckData" data-url="{:URL('article/alldel')}"  title="删除选中"><i class="layui-icon layui-icon-delete"></i></button>
					<div class="layui-form pull-right">
						<div class="layui-form-item">							
							<div class="layui-inline">
								
								<select name="cateid">
									<option value="">请选择分类</option>
								</select>									
								
							</div>
							<div class="layui-inline"><input type="text" name="keywords" id="keywords" class="layui-input" placeholder="请输入标题" value="" /> </div>
							<div class="layui-inline"><button class="layui-btn"><i class="layui-icon layui-icon-search"></i></button></div>
							<div class="layui-inline"> <button class="layui-btn" data-type="add" data-title="添加文章" dataw="600px" datah="700px" data-url="{:URL('article/add')}" ><i class="layui-icon layui-icon-add-circle"></i>添加文章</button> </div>
						</div>
					</div>
				</div>
				<div class="layui-card-body">
					<table class="layui-hide" id="tabledata" lay-filter="list"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/html" id="switchTpl">
  <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="显示|不显示" data-id="{{d.id}}" data-url="{:URL('cate/status')}" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-xs" data-url="{:URL('article/add')}" data-title="编辑" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" data-msg="您确定要删除吗？" data-url="{:URL('article/delete')}" lay-event="del">删除</a>
</script>
<script src="__MANAGE__/admin.js" type="text/javascript" charset="utf-8"></script>
<script>
	
layui.use(['table','form'], function() {
		var table=layui.table,form=layui.form,pid="{$pid}",cid="{$cid}";
		form.render();
		table.render({
			elem: '#tabledata',
			url: "{:URL('article/articlelist')}" //数据接口
			,where:{pid:pid,cid:cid}
			,page: true //开启分页
			,id:'tablist'
			,cols: [
				[ //表头
					{
						checkbox: true,
						fixed: true,
						fixed: 'left'
					}, {
						field: 'id',
						title: 'ID',
						width: 80,
						sort: true
					}, {
						field: 'title',
						title: '文章标题'
					},{
						field: 'catename',
						title: '分类'
					}, {field:'status', title:'状态', width:95, templet: '#switchTpl', unresize: true}
					,{
						fixed: 'right',
						width: 178,
						align: 'center',
						toolbar: '#barDemo'
					}
				]
			]
		});
		
		
		
	});
</script>