<div class="layui-fluid layui-form">
	<div class="layui-row ">
		<div class="layui-col-md6 layui-col-xs12" >
			<div class="layui-card">
				<div class="layui-card-header">基础配置</div>
				<div class="layui-card-body">
					<div class="layui-form-item">
						<label class="layui-form-label">appId</label>
						<div class="layui-input-block">
						  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入微信公众号ID" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">appSecret</label>
						<div class="layui-input-block">
						  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题微信公众号密钥" class="layui-input">
						</div>
					</div>
				  
				  
				  
				</div>
			</div>
		</div>
		
		<div class="layui-col-md6 layui-col-xs12">
			<div class="layui-card">
				<div class="layui-card-header">支付配置</div>
				<div class="layui-card-body">
					<div class="layui-form-item">
						<label class="layui-form-label">商户名称</label>
						<div class="layui-input-block">
						  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入商户名称" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">mch_id</label>
						<div class="layui-input-block">
						  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入商户号" class="layui-input">
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
	
</div>