<div class="layui-fluid">
	<div class="layui-row layui-form">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="layui-form-item"> <label class="layui-form-label">类型</label>
						<div class="layui-input-block"> 
						<select name="kinds">
							
							<option value="{$kinds.id}">{$kinds.name}</option>
							
						</select>	
						</div>
					</div>
					<div class="layui-form-item"> <label class="layui-form-label">标题</label>
						<div class="layui-input-block"> <input name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input" type="text" value="{$info.title|default=''}"> </div>
					</div>
					<div class="layui-form-item layui-form-text"> <label class="layui-form-label">标志</label>
						<div class="layui-input-block">
							<a class="layui-btn uploadbg demoMore" lay-data="{ url:'/manage/upload/index' }">{notempty name="$info"}<img src="__ROOT__{$info.thumb}"/>{else /}<img src="__MANAGE__/images/upload.png"/>{/notempty}</a><input type="hidden" name="thumb"  value="{$info.thumb|default=''}"> </div>
					</div>
					<div class="layui-form-item"> <label class="layui-form-label">链接地址</label>
						<div class="layui-input-block"> <input name="url" lay-verify="" autocomplete="off" placeholder="必须带http://" class="layui-input" type="text" value="{$info.url|default=''}"> </div>
					</div>
					<!--<div class="layui-form-item"> <label class="layui-form-label">内容</label>
						<div class="layui-input-block"> <textarea name="desc" class="layui-textarea">{$info.desc|default=''}</textarea> </div>
					</div>-->
					<div class="layui-form-item"> <label class="layui-form-label">排序</label>
						<div class="layui-input-inline"> <input name="sort" lay-verify="required|number" autocomplete="off" placeholder="请输入数字" class="layui-input" type="text" value="{$info.sort|default=''}"> </div>
					 	<div class="layui-form-mid layui-word-aux">升序排列</div>
					</div>
					{notempty name="$info"}
					<input type="hidden" name="id" id="id" value="{$info.id}" />
					{/notempty}
					<div class="layui-form-item">
						<div class="layui-input-block"> <button class="layui-btn" lay-submit lay-filter="submit" data-url="{:URL('hook/addslide')}">立即提交</button> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<script type="text/javascript">
	layui.use(['upload','form'], function() {
		var $ = layui.jquery,
		form=layui.form,
			upload = layui.upload;
			form.render();
		upload.render({
			elem: '.demoMore',
			before: function() {
				layer.load(0);
			},
			done: function(res, index, upload) {
				var item = this.item;
				item.html('<img src="__ROOT__' + res.data + '" height="100px">');
				item.next('input').next('input').val(res.data);
				layer.closeAll();
				// console.log(item.next('input').next('input')); //获取当前触发上传的元素，layui 2.1.0 新增
			}
		});

	});
</script>