<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header pt-10">图片轮播列表</div>
				<div class="layui-card-body">
					<table class="layui-hide" id="tabledata" lay-filter="list"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__MANAGE__/admin.js" type="text/javascript" charset="utf-8"></script>
<script>
	
layui.use(['table'], function() {
		var table=layui.table;
		table.render({
			elem: '#tabledata',
			url: "{:URL('hook/slidelist')}" //数据接口
			,page: false //开启分页
			,id:'tablist'
			,cols: [
				[ //表头
					{
						checkbox: true,
						fixed: true,
						fixed: 'left'
					}, {
						field: 'uid',
						title: '用户名称',
						width: 120,
						sort: true
					}, {
						field: 'tag',
						title: '操作',
					}, {
						field: 'address',
						title: '地区',

					},{
						field: 'ip',
						title: 'IP',
						width: 160,
						sort: true
					}, {
						field: 'mac',
						title: 'MAC',
						width: 160
					}, {
						field: 'network',
						title: '网络类型',
						width: 120
					}
					,{
						field: 'addtime',
						title: '时间',

						width: 178,
					}
					,{
						fixed: 'right',
						width: 178,
						align: 'center',
						toolbar: '#barDemo'
					}
				]
			]
		});
		
		
		
	});
</script>