<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div id="demoTable" class="layui-card-header pt-10"> 
					<button  class="layui-btn layui-btn-danger"  data-type="getCheckData" title="删除选中"><i class="layui-icon layui-icon-delete"></i></button>
					<div class="layui-form pull-right">
						<div class="layui-form-item">
							<div class="layui-inline"> <input type="text" name="keyword" id="keyword" placeholder="请输入关键词" class="layui-input" value="" /> </div>
							<div class="layui-inline"> <button class="layui-btn"><i class="layui-icon layui-icon-search"></i></button> </div>
						</div>
					</div>
				</div>
				<div class="layui-card-body">
					<table class="layui-hide" id="tabledata" lay-filter="list"></table>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-clear" style="height: 100px;">&nbsp;</div>
</div>
<script type="text/html" id="switchTpl">
  <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="status" {{ d.id == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="__MANAGE__/admin.js" type="text/javascript" charset="utf-8"></script>
<script>
	
layui.use(['table'], function() {
		var table=layui.table;
		table.render({
			elem: '#tabledata',
			url: "{:URL('set/userlist')}" //数据接口
			,page: true //开启分页
			,id:'tablist'
			,cols: [
				[ //表头
					{
						checkbox: true,
						fixed: true,
						fixed: 'left'
					}, {
						field: 'id',
						title: 'ID',
						width: 80,
						sort: true
					}, {
						field: 'username',
						title: '用户名',
						width: 80
					}, {
						field: 'sex',
						title: '性别',
						width: 80,
						sort: true
					}, {
						field: 'city',
						title: '城市',
						width: 80
					}, {
						field: 'sign',
						title: '签名',
						width: 177
					}, {
						field: 'experience',
						title: '积分',
						width: 80,
						sort: true
					}, {
						field: 'score',
						title: '评分',
						width: 80,
						sort: true
					}, {
						field: 'classify',
						title: '职业',
						width: 80
					}, {
						field: 'wealth',
						title: '财富', 
						width:185,
						sort: true
					},{field:'sex', title:'状态', width:85, templet: '#switchTpl', unresize: true}
					, {
						fixed: 'right',
						width: 178,
						align: 'center',
						toolbar: '#barDemo'
					}
				]
			]
		});
	});
</script>